@page "/note-overview"
@using TechNotes.Application.Notes

@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@inject HttpClient Http

<h3>NoteOverview</h3>
@if (_notes == null)
{
    <p>Cargando notas..</p>
}
else if (_notes.Count == 0)
{
    <p>No se econtraron notas</p>
}
else
{
    <ul>
        @foreach (var note in _notes)
        {
            <li>@note.Title</li>
            <li>@note.Content</li>
            <li>@note.PublishedAt.ToShortDateString()</li>
        }
    </ul>
}

@code {
    private List<NoteResponse> _notes;
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<NoteResponse>>("api/notes");
        if (result != null)
        {
            _notes = result;
        }
        else
        {
            _notes = new List<NoteResponse>();
        }
    }
}